<?xml version="1.0" encoding="utf-8" ?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="true">
	<php>
		<env name="MOCK_URL" value=""/>
		<ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
	</php>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<exclude>
				<directory>./tests</directory>
				<directory>./vendor</directory>
				<file>./src/Peru/Http/ContextClient.php</file>
				<file>./src/Peru/Sunat/HtmlParser.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
